body {
    background-image: url(img/pexels-iriser-943899.jpg);
    background-size: cover; /* Opcional: Ajusta la imagen para que cubra toda el área */
    background-repeat: no-repeat; /* Opcional: Evita que la imagen se repita */
    background-position: center; 
    color: rgb(211, 157, 182);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#resaltar{
    border: 5%;
    font-style: italic;
    color: white;
    background-color: rgba(232, 226, 185, 0.796); 
    margin-top: 15%;
    margin-bottom: 3%;
}

h2 { 
    margin-bottom: 2%;
    font-size: large;
}

span {
    color: rgb(214, 64, 134);
}

img {
    border-color: white;
    height: 100%;
    width: 30%;
    border-radius: 0.5cm;
}

p {
    color: rgb(211, 157, 182);
}

a {
    color: rgb(211, 157, 182);
}

li{
    list-style: none;
}

.informacion {
    margin-top: 5%;
}

p span {
    color: rgba(199, 204, 42, 0.796);
    border: 5;
}

.primerparrafo { 
    text-align: left;
}

.traslucido{
    font-size: 24px; /* Tamaño de fuente */
    color: #fff; /* Color del texto */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro translúcido (50% opaco) */
    padding: 10px; /* Espaciado alrededor del texto */
    border-radius: 5px; /* Bordes redondeados opcionales */
    display: inline-block;
    
}

.miInfo {
    display: grid;
    place-items: center; /* Centra horizontal y verticalmente */
    height: 60vh; /* Altura completa de la ventana */
}